// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user {
  color: #888;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #444;
  padding: 10px 20px;
  a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed #888;
  }
  a:hover {
    background-color: #f3f3f3;
    color: #222;
    border-bottom: 1px solid #222;
  }
}

.post:last-child {
  border-bottom: none;
}
